#PlayPouse{
   position: relative;
   bottom: 7px;
}

.Button{
   background: rgba(1,2,3,0);
   border: 0px solid;
   padding: 0;
}

#SliderFrame, #SliderFrame div {
    box-sizing: content-box;
}
#SliderFrame
{
    width:700px;
    margin:0 auto;
}

#Slider, #Slider .SliderInner {
    width:700px;
    height:306px;
    border-radius:3px;
}

#Slider {
    background-color:white;
    position:relative;
    margin:0 auto;
    transform: translate3d(0,0,0);
    box-shadow: 0px 1px 5px #999999;
}

#Slider>img{
  overflow: hidden;
}
